* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 2rem;
}

.card1 .testimony {
  background-color: black;
  border-radius: 1rem;
  color: white;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
  max-width: 350px;
  padding: 0.5rem;
  position: relative;
}

.card1 .testimony::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 16px;
  height: 16px;
  bottom: -8px;
  left: 16px;
  transform: rotate(45deg);
}

.card1 .person {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.card1 .personPhoto {
  border-radius: 100%;
  min-width: 50px;
  height: 50px;
  object-fit: cover;
}

.card2 {
  border: 2px solid black;
  border-radius: 16px;
  max-width: 350px;
  padding: 1rem;
}

.card2 .testimony {
  margin-bottom: 2rem;
}

.card2 .person {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.card2 .personPhoto {
  border-radius: 100%;
  min-width: 50px;
  height: 50px;
  object-fit: cover;
}

.card3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card3 .personPhoto {
  border-radius: 16px;
  object-fit: cover;
  max-height: 200px;
  width: 100%;
}

.card3 .testimony {
  display: grid;
  border-radius: 16px;
  background-color: black;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
}

.card3 .personJob {
  color: gray;
}
